In [142]:
import geopandas as gpd
import pandas as pd
from glob import glob
from od_data_extractor import DataExtractor

In [ ]:
d_geoid = '17031838800'

chicago = DataExtractor('./data/chicago')
chicago.set_destination(d_geoid)
chicago.get_timeseries_df()

In [138]:
d_geoids = ['17031838800','17031550100']
chicago = DataExtractor('./data/chicago')
chicago.set_destinations(d_geoids)
chicago.get_timeseries_df_multi()

           origin  destination  trips        date
5     17031010501  17031838800    205  2019-12-30
23    17031020901  17031838800     99  2019-12-30
33    17031030601  17031838800    271  2019-12-30
209   17031170500  17031838800    164  2019-12-30
239   17031210400  17031838800    188  2019-12-30
...           ...          ...    ...         ...
2131  18089043102  17031550100     76  2022-04-25
2143  18127050101  17031550100    100  2022-04-25
2150  18127050407  17031550100     46  2022-04-25
2157  18127050509  17031550100    260  2022-04-25
2166  18127051002  17031550100    108  2022-04-25

[30698 rows x 4 columns]