In [12]:
import geopandas as gpd
import pandas as pd
from glob import glob
from od_data_extractor import DataExtractor

In [13]:
chicago_tracts = gpd.read_file('../data/processed/park_tract_join_CHICAGO.geojson')
ny_tracts = chicago_tracts = gpd.read_file('../data/processed/park_tract_join_NYC.geojson')

In [14]:
chi = DataExtractor('../data/raw/sg_chicago')
chi.set_destination(chi.tract_ids[0])
chi.get_timeseries_df()

           origin  destination  trips        date
0     17031010100  17031010100   4052  2019-12-30
1     17031010201  17031010100    416  2019-12-30
2     17031010202  17031010100    511  2019-12-30
3     17031010300  17031010100    542  2019-12-30
4     17031010400  17031010100    469  2019-12-30
...           ...          ...    ...         ...
1687  17097861107  17031010100     81  2022-04-25
1700  17097861507  17031010100     90  2022-04-25
1713  17097861803  17031010100     55  2022-04-25
2047  18089012500  17031010100     73  2022-04-25
2054  18089020400  17031010100     73  2022-04-25

[5792 rows x 4 columns]

In [ ]:
chi = DataExtractor('../data/raw/sg_chicago')
chi.set_destinations(chi.tract_ids[0:2])
chi.get_timeseries_df_multi()